<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363312574351-f1hk8p53bllet4v847aos7b7047aib37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363312574351-f1hk8p53bllet4v847aos7b7047aib37</string>
	<key>API_KEY</key>
	<string>AIzaSyDuZXDjX8UM-vPnAgDYeFA4kA4HtiHjWug</string>
	<key>GCM_SENDER_ID</key>
	<string>363312574351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.react-native-trainee</string>
	<key>PROJECT_ID</key>
	<string>react-traineeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>react-traineeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363312574351:ios:1e4b631fa831919b75e5fa</string>
	<key>DATABASE_URL</key>
	<string>https://react-traineeapp.firebaseio.com</string>
</dict>
</plist>